.footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.button-1{
  background-color: rgb(250, 233, 5) ;
  font-size: 14pt;
  border-radius: 12px 12px 12px 12px;
}
.button-2{
  background-color: rgb(210, 207, 208);
  font-size: 14pt;
  border-radius: 12px 12px 12px 12px;
}
.button-3{
  background-color: rgb(9, 112, 233);
  font-size: 14pt;
  border-radius: 12px 12px 12px 12px;
}
.button-4{
  background-color: rgba(69, 69, 69, 0.68);
  font-size: 14pt;
  border-radius: 12px 12px 12px 12px;
}
.button-5{
  background-color: rgb(0, 0, 0);
  color:white;
  font-size: 14pt;
  border-radius: 12px 12px 12px 12px;
}
.button-6{
  background-color: rgb(112, 0, 0);
  font-size: 14pt;
  border-radius: 12px 12px 12px 12px;
}
