.navbar{
  background-color: #99a2e9;
  display: flex;
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
